.health {
    padding: 240px 0;
    background-image: url("../images/bgi3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.health__inner {
    max-width: 490px;
    width: 100%;
    margin-left: auto;
}
.intro-title {
    &--hel {
        color: #fff;
    }
}
.intro-text {
    &--hel {
        color: #fff;
        &::before {
            height: 120px;
            border-right: 3px solid #fff;
        }
    }
}
@media only screen and (max-width:520px) {
    .health {
        padding: 96px 0;
        background-image: url("../images/bgi3-m.jpg");
        background-repeat: no-repeat;
        background-size: 100% 538px;
        background-position: top;
    }
    .health__inner {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .health-title-div {
        max-width: 312px;
        width: 100%;
    }
    .health-text-div {
        max-width: 350px;
        width: 100%;
    }
}
@media only screen and (max-width:320px) {
    .health{
        padding-top: 25px;
    }
}